node_modules/
functions/node_modules/
.idea/

android/.gradle/
android/build/
android/app/build/
android/local.properties
android/key.properties

*.apk
*.aab
*.jks
*.keystore
android/*UPLOAD_KEY_INFO*.txt
firebase-debug.log
firebase-debug.*.log
.firebase/
